@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

.hero_banner {
  background-image: url("./assets/hero_cover.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  background-repeat: no-repeat;
  height: 500px;
  justify-content: center;
}

.title {
  text-align: center;
  color: #8b4513;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
  border-bottom: 2px solid #8b4513;
  padding-bottom: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: flex-end;
}
.tabs button {
  background-color: rgba(92, 48, 24, 0.9333333333);
  border: none;
  padding: 30px 40px;
  cursor: pointer;
  margin: 0 15px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #fff4d7;
}
.tabs button:hover {
  background-color: #fff4d7;
  color: #5c3018;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #ffffff;
}
.tab-content.active {
  display: block;
}

.menu-item {
  margin: 10px 0;
  font-size: 18px;
}

.menu-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.category {
  color: #8b4513;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Food */
.subcategory {
  color: #5c3018;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.vertical_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vertical_container .vertical_item_1 {
  width: 43%;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
  align-items: baseline;
}
.item .item-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.item .item-name span {
  font-size: 0.9rem;
}
.item .item-description {
  color: #666;
  font-size: 0.8rem;
}
.item .price {
  color: #8b4513;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
}

.divider {
  border-bottom: 1px solid #e0d5c5;
  margin: 1rem 0;
}

/* Drinks */
.subcategory {
  color: #5c3018;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0;
  align-items: baseline;
}
.item .item-name {
  font-weight: bold;
  font-size: 1rem;
}
.item .item-description {
  color: #666;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.item .price {
  color: #8b4513;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 1rem;
}

.divider {
  border-bottom: 1px solid #e0d5c5;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .hero_banner {
    max-height: 30vh; /* או גובה קטן יותר */
    object-fit: cover;
  }
  .hero_banner .tabs button {
    padding: 15px 20px;
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(92, 48, 24, 0.9333333333);
  }
}

/*# sourceMappingURL=styles.css.map */
